<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998881604291-6p4pvme9vlifvv24gua7g6bjin98oprt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998881604291-6p4pvme9vlifvv24gua7g6bjin98oprt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_kOe5rcL9w2J1pfG9uOs19VN3Stqm_8c</string>
	<key>GCM_SENDER_ID</key>
	<string>998881604291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vamx.MatchOne.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>dvs-tweets</string>
	<key>STORAGE_BUCKET</key>
	<string>dvs-tweets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998881604291:ios:1f75db149c758aad606876</string>
</dict>
</plist>